@import 'reset.scss';
@import 'variables.scss';
@import '_mixin.scss';
@import 'fonts.scss';
@import '_partials';



html {
    scroll-behavior: smooth !important;
    background-color: #224740;
  }
// header
.main-header{ 
    img{
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }
    @media (max-width: 1366px) {
      img{
        height: auto;
      }
    }
    // padding: 10px 0;
    // position: fixed;
    // width: 100%;
    // background-color: #997d669d;
    // z-index: 11;
    // border-radius: 0 0 10px 10px;
    // display: none;
    
    
    
    // .container{
    // font-family: $MON;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // letter-spacing: 1px;
    //     h2{
    //         font-size:16px;
    //         color: white;
    //         @media (max-width:$small){
    //             font-size: 12px;
    //         }
    //     }
    //     .main-navigation{
    //             transition: 1s height;

    //         &.active{
    //             display: block;
    //             width: 300vw;
    //             height: auto;
    //             text-align: right;
    //             padding-top:30px;
    //             li{
    //                 padding-bottom: 20px;
    //             }
    //         }
    //         @extend %flex-placeholder;
    //         li{
    //             padding: 0 20px;
    //             a{
    //                 font-size:16px;
    //                 color: white;
    //                 font-family: 'BPG Nino Mtavruli';
    //                 @include transition;
    //                 &:hover{
    //                     color: #e2b396;
    //                 }
    //             }
    //             @media (max-width:$large){
    //              padding: 0 10px;
    //             }
    //         }
            
    //         @media (max-width:768px){
    //             display: none;
    //         }
    //     }
    //     .burger-menu {
    //         position: relative;
    //         right: 0;
    //         width: 20px;
    //         height: 10px;
    //         cursor: pointer;
    //         display: none;

    //         @media (max-width:768px) {
    //         display: block;
    //         }
    //       }
    //       .burger {
    //         position: absolute;
    //         background: white;
    //         width: 100%;
    //         height: 3px;
    //         top: 50%;
    //         right: 0px;
    //         opacity: 1;
    //       }
    //       .burger::before {
    //         position: absolute;
    //         background: white;
    //         width: 100%;
    //         height: 3px;
    //         top: 5px;
    //         content: "";
    //         display: block;
    //       }
    //       .burger::after {
    //         position: absolute;
    //         background: white;
    //         width: 100%;
    //         height: 3px;
    //         bottom: 5px;
    //         content: "";
    //         display: block;
    //       }
    //       .burger::after, .burger::before, .burger {
    //         transition: all .3s ease-in-out;
    //         -webkit-transition: all .3s ease-in-out;
    //       }
    //       .burger-menu.menu-on .burger::after{
    //          transform: rotate(-45deg);
    //          -webkit-transform: rotate(-45deg);
    //         bottom: 0px;
    //       }
    //       .burger-menu.menu-on .burger::before{
    //          transform: rotate(45deg);
    //          -webkit-transform: rotate(45deg);
    //         top: 0px;
    //       }
    //       .burger-menu.menu-on .burger{
    //        background: rgba(111,111,111,.0);
    //        width: 22px;
    //       }
    //       h1 {
    //         font-family: 'BPG Nino Mtavruli';
    //         letter-spacing: 4px;
    //         font-size: 16px;
    //         text-transform: uppercase;
    //         color: #666;
    //         text-align: center;
    //         margin: 60px 0px 60px 0px;
    //       }
    //       .big {
    //         letter-spacing: 0px;
    //         font-size: 51px;
    //         display: block;
    //         text-transform: uppercase;
    //       }
    // }
    // @media (max-width:768px){
    //     padding: 10px;
    // }
}
.burger{
    display: none;

    @media (max-width:768px){
        display: block;
    }
}
.header{
  position: relative;
  height:100%;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
  padding: 5% 0;
  font-family: $MON;
  color: #997d66;
  font-size: 72px;
  h1{
    height: auto;
  }
  img{
    width: 13%;
    height: auto;
    margin-right: 20px;
  }
  @media (max-width:1100px) {
    font-size: 39px;
    img{
      margin-right: 15px;
    }
  }
}
.Carousel-in-item{
  width: 100%;
}
.white{
  color: white !important;
  text-shadow: none !important;
  font-family: $BPG !important;
}
.other-production{
  background-color: #dfb28d;
  padding: 0 5% 5% 2%;
  border-radius: 25px 25px 0px 0;
  box-shadow: 
  0 2.8px 52.2px rgba(0, 0, 0, 0.034),
  0 6.7px 65.3px rgba(0, 0, 0, 0.048),
  0 12.5px 50px rgba(0, 0, 0, 0.06),
  0 22.3px 57.9px rgba(0, 0, 0, 0.072),
  0 41.8px 53.4px rgba(0, 0, 0, 0.086),
  0 100px 50px rgba(0, 0, 0, 0.12);

  .full{
    width: auto;
    margin: 0px 20px;
  
    @media (max-width:650px) {
      width: 70%;
    }
  }
}
.logo{
  height:35px;
  width:auto;
}
.flex-logo{
  display: flex;
  align-items: center;
}

.categories{
  display: flex;
  justify-content: space-between;
  background-color: #dfb28d;
  padding:5%;
  margin: 0 20px;
  margin-top: 30px;
  border-radius: 35px;



  .categories-left{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    
    .inStore{
      &:hover{
        background-color: #eca972;
      }
    }
    .items{
      width: 44%;
      background-color: #e7cfbf;
      padding: 35px;
      border-radius: 35px;
      transform:scale(1.0);
      @include transition;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);

      img{
        width: 100%;
        border-radius: 35px;
      }
      p{
        font-size: 21px;
        font-family: $MED;
        text-decoration: none;
        color: #997d66;
        font-family: 'BPG Nino Mtavruli';
        text-align: center;
        margin-top: 20px;
      }

      &:hover{
        transform:scale(1.05);
        p{
          color: white;
        }
      }
    }
    @media (max-width:1100px) {
      justify-content: center;
      .items{
        width: 90%;
        margin-bottom: 20px;
      }
    }
  }
  .title{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'BPG Nino Mtavruli';
    color: #f8e8dd;
    font-size: 72px;
  }

  @media (max-width:1100px){
    flex-direction: column-reverse;
    align-items: center;

    .categories-left{
      width: 85%;
      margin-top: 20px;
    }
    .title{
      margin: 10px 0 20px 0;
      font-size: 36px;
      width: 100%;
      justify-content: center;
    }
  }
}
button{
  cursor: pointer !important;
  border: 0;
  opacity: 0.5;
  transition: 0.3s;
  transition-timing-function:ease-out;
}
.black{
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid #fae5cd;
}
.red{
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #fae5cd;
}
.khaki{
  background-color: #ffba6b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #fae5cd;
}
.begie{
  background-color: #e7b57b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #fae5cd;
}
.whitebtn{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #fae5cd;
}
.about{
  display: flex;
  justify-content: space-between;
  background-color: #e7cfbf;
  padding:5%;
  margin: 40px 20px 0 20px;
  position: relative;
  z-index: 12;
  border-radius: 35px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%);

  .title{
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: 'BPG Nino Mtavruli';
      color: #997d66;
      font-size: 72px;
  }
  p{
    width: 50%;
    align-items: center;
    font-family: $GEO;
    line-height: 26px;
    color: #997d66;
    font-size: 21px;
    line-height: 35px;
    .med{
      font-family: $MED;
    }
  }
  @media (max-width:1100px) {
    flex-direction: column;
    align-items: center;
    .title{
      font-size: 36px;
      width: 100%;
      justify-content: center;
      margin: 20px 0
    }
    p{
      width: 75%;
    }
  }
}



.category-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
  background-color: #dfb28d;
  border-radius: 35px ;
}
.full{
  width: auto !important;
  margin: 0px 20px;
}
.selected{
  .item-article{
    background-color: #f5a96b !important;
  }
}
.category-item{
  width: calc(24% - 10px);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
  background-color: #e7cfbf;
  border-radius: 35px;
  cursor: pointer;
  padding: 25px;
  margin-bottom: 25px !important;
  transition: 0.2s;
  &:hover{
    .item-article{
      background-color: #f5a96b;
    }
  }
  img{
    width: 100%;
    border-radius: 35px;
    height: auto;
    object-fit: cover;
  }
  .item-article{
    display: flex;
    flex-direction: column;
    background-color: #dfb28d;
    padding: 10px;
    margin-top: -30px;
    border-radius: 0 0 35px 35px;
    padding: 20px;
    padding-top: 50px;
    font-size: 16px;
    color: white;
    font-family: $MED;
    justify-content: space-between;
    @include transition;
    height: 125px;
    
    
    h4{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .lowerfontsize{
      font-size: 14px;
    }
  }
  @media (max-width:1100px) {
    width: 46%;
  }
  @media (max-width:650px) {
    width: 80%;
  }
}
.item-flex{
  display: flex;
  justify-content: left;
  padding: 5%;
  padding-left: 7%;
  padding-top:2%;
  .itemImg{
    width: 25%;
    img{
      width: 100%;
      position: relative;
      z-index: 2;
      border-radius: 10%;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    }
    @media (max-width:1100px) {
      width: 82%;
    }
  }
  @media (max-width:1100px) {
    margin-bottom: 10%;
    flex-direction: column;
    align-items: center;
  }
  .item-description{
    position: relative;
    color: white;
    background-color: #dfb28d;
    padding: 5%;
    margin-left: -30px;
    border-radius: 0 35px 35px 0;

    h1{
      font-family: $MON;
      font-size: 36px;
      margin-bottom: 10px;
    }
    h2{
      font-family: $GEO;
      font-size: 18px;
      margin-bottom: 10px;
    }
    h3{
      font-family: $MON;
      font-size: 24px;
      background-color: #e7cfbf;
      border-radius: 18px;
      padding: 5%;
    }
    .instaIcon{
      display: flex;
      width: 72%;
      justify-content: space-between;
      position: absolute;
      bottom: 10%;
      height: 60px;
      a{
        img{
          height: 100%;
          width: 60px;
        }
      }
    }
    .colorPicker{
      margin-top: 30px;
    }
    @media (max-width:1100px) {
      width: 80%;
      padding: 38% 5% 20% 5%;
      margin: 0;
      margin-top: -30%;
      border-radius: 0 0 18px 18px;
      h1{
        font-size: 22px;
      }
      h2{
        font-size: 14px;
      }
      h3{
        font-size: 16px;
        border-radius: 12px;
      }
      .colorPicker{
        margin-top: 10px;
        height: 85px;
      }
      .instaIcon{
        height: 36px;
        width: 80%;
        bottom: 6%;
        a{
          img{
            width: 36px;
          }
        }
      }
    }
  }
}
.indicator{
  font-size: 42px;
  display: flex;
  align-items: center;
  font-family: $SSPB;
  padding: 5%; 
  text-shadow:0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;
  color:#fff6af;
  cursor: default;

  span{
    cursor: pointer;
    font-family: $BPG;
    margin-top: 12px;
    font-size: 36px;
  }
  @media (max-width:1100px) {
    justify-content: center;
    padding: 8%;
    font-size: 36px;
  }
  @media (max-width:330px) {
    font-size: 30px;
    span{
      font-size: 25px;
    }
  }
}
.active{
  opacity: 1;
  border-width: 5px ;
}

.ukan{
  background: none;
  display: flex;
  align-items: center;
  padding:4% 0 0 5%;
  font-size: 36px;
  font-family: $BPG;
  text-shadow:0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;
  color:#fff6af;
  text-decoration: none;
  opacity: 1;

  span{
    margin-top: 10px;
  }

  @media (max-width:1100px) {
      padding: 8%;
  }
}

.contact{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #dfb28d;
  color:#f8e8dd ;
  font-family: $BPG;
  margin: 40px 20px;
  margin-top: -30px;
  padding: 5% 25%;
  border-radius: 0 0 35px 35px;
  padding-top: 70px;
  font-size: 36px;
  .contact-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    .mainLogo{
      display: flex;
      margin-top: 30px;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      color:#f8e8dd ;
      font-family: $MED;
      font-size: 18px;
      img{
        width: 40px;
        height: auto;
        margin-right: 20px;
      }
    }
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.react-multiple-carousel__arrow{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-multiple-carousel__arrow:focus{
  outline: none !important;
}

.footerImg{
  img{
    width: 100%;
    margin-top: -550px;
  }
}

.addItem{
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:#f8e8dd;
  border-radius: 18px;
  padding:3%;
}

.form-modal{
  display: flex;
}

.adminka {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.plus {
  position: absolute;
  right: 5%;
  bottom: 5%;
  padding: 25px;
  border-radius: 50%;
  background-color: white;
  color: black;
  cursor: pointer;
}

.addItem-form{
  display: flex;
  flex-direction: column;
}

.addItem-form input{
    border-radius: 14px;
    padding: 10px;
    border-color: transparent;
    margin-top: 5px;    
}