@import 'reset.scss';
@import 'variables.scss';
@import '_mixin.scss';
@import 'fonts.scss';
@import '_partials';



html {
    scroll-behavior: smooth !important;
    background-color: #e7cfbf;
  }
// header
.main-header{ 
    
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background-color: #997d669d;
    z-index: 11;
    border-radius: 0 0 10px 10px;
    
    
    
    .container{
    font-family: $MON;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
        h2{
            font-size:16px;
            color: white;
            @media (max-width:$small){
                font-size: 12px;
            }
        }
        .main-navigation{
                transition: 1s height;

            &.active{
                display: block;
                width: 300vw;
                height: auto;
                text-align: right;
                padding-top:30px;
                li{
                    padding-bottom: 20px;
                }
            }
            @extend %flex-placeholder;
            li{
                padding: 0 20px;
                a{
                    font-size:16px;
                    color: white;
                    font-family: 'BPG Nino Mtavruli';
                    @include transition;
                    &:hover{
                        color: #e2b396;
                    }
                }
                @media (max-width:$large){
                 padding: 0 10px;
                }
            }
            
            @media (max-width:768px){
                display: none;
            }
        }
        .burger-menu {
            position: relative;
            right: 0;
            width: 20px;
            height: 10px;
            cursor: pointer;
            display: none;

            @media (max-width:768px) {
            display: block;
            }
          }
          .burger {
            position: absolute;
            background: white;
            width: 100%;
            height: 3px;
            top: 50%;
            right: 0px;
            opacity: 1;
          }
          .burger::before {
            position: absolute;
            background: white;
            width: 100%;
            height: 3px;
            top: 5px;
            content: "";
            display: block;
          }
          .burger::after {
            position: absolute;
            background: white;
            width: 100%;
            height: 3px;
            bottom: 5px;
            content: "";
            display: block;
          }
          .burger::after, .burger::before, .burger {
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
          }
          .burger-menu.menu-on .burger::after{
             transform: rotate(-45deg);
             -webkit-transform: rotate(-45deg);
            bottom: 0px;
          }
          .burger-menu.menu-on .burger::before{
             transform: rotate(45deg);
             -webkit-transform: rotate(45deg);
            top: 0px;
          }
          .burger-menu.menu-on .burger{
           background: rgba(111,111,111,.0);
           width: 22px;
          }
          h1 {
            font-family: 'BPG Nino Mtavruli';
            letter-spacing: 4px;
            font-size: 16px;
            text-transform: uppercase;
            color: #666;
            text-align: center;
            margin: 60px 0px 60px 0px;
          }
          .big {
            letter-spacing: 0px;
            font-size: 51px;
            display: block;
            text-transform: uppercase;
          }
    }
    @media (max-width:768px){
        padding: 10px;
    }
}
.burger{
    display: none;

    @media (max-width:768px){
        display: block;
    }
}
.header{
  position: relative;
  height: 100vh;

  .sliderTitle{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-family: $MON;
    color: #997d66;
    font-size: 72px;
  }
  .carousel.carousel-slider{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0 !important;
    border-radius: 25px 0 0 25px;
    .slider-wrapper{
      .slider{
        .slide{
          div{
            img{
              height: 80vh;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.Carousel-in-item{
  width: 100%;
  background-color: #dfb28d;
  padding: 5%;
  border-radius: 25px 25px 25px;
}
.logo{
  height:35px;
  width:auto;
}
.flex-logo{
  display: flex;
  align-items: center;
}

.categories{
  display: flex;
  justify-content: space-between;
  background-color: #997d66;
  padding:5%;
  border-radius: 25px;

  .categories-left{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    
    .inStore{
      &:hover{
        background-color: #eca972;
      }
    }
    .items{
      width: 44%;
      background-color: #e7cfbf;
      padding: 35px;
      border-radius: 25px;
      transform:scale(1.0);
      @include transition;

      img{
        width: 100%;
        border-radius: 15px;
      }
      p{
        font-size: 21px;
        font-family: $MED;
        text-decoration: none;
        color: #997d66;
        font-family: 'BPG Nino Mtavruli';
        text-align: center;
        margin-top: 20px;
      }

      &:hover{
        transform:scale(1.05);
      }
    }
  }
  .title{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'BPG Nino Mtavruli';
    color: #e7cfbf;
    font-size: 72px;
  }
}

.about{
  display: flex;
  justify-content: space-between;
  background-color: #e7cfbf;
  padding:5%;
  border-radius: 25px 25px 0 0;

  .title{
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: 'BPG Nino Mtavruli';
      color: #997d66;
      font-size: 72px;
  }
  p{
    width: 50%;
    align-items: center;
    font-family: $MED;
    line-height: 26px;
    color: #997d66;
    font-size: 21px;
  }

}



.category-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
  background-color: #997d66;
  border-radius: 25px 25px 0 0 ;
}
.full{
  width: auto !important;
  margin: 0px 20px;
}
.category-item{
  width: calc(24% - 10px);
  box-shadow: 0 2px 15px rgba(200,200,200,0.3);
  background-color: #e7cfbf;
  border-radius: 14px;
  cursor: pointer;
  padding: 25px;
  margin-bottom: 25px;
  transition: 0.2s;
  &:hover{
    .item-article{
      background-color: #f5a96b;
    }
  }
  img{
    width: 100%;
    border-radius: 14px;
    height: auto;
    object-fit: cover;
  }
  .item-article{
    display: flex;
    background-color: #dfb28d;
    padding: 10px;
    margin-top: -20px;
    border-radius: 0 0 14px 14px;
    padding-top: 40px;
    font-size: 16px;
    color: white;
    font-family: $MED;
    justify-content: space-between;
    @include transition;
    
    

    .lowerfontsize{
      font-size: 14px;
    }
  }
}
.item-flex{
  display: flex;
  justify-content: left;
  padding: 5%;
  .itemImg{
    width: 25%;
    img{
      width: 100%;
      border-radius: 10%;
    }
  }
  .item-description{
    margin-left: 20px;
    position: relative;

    h1{
      font-family: $MON;
      font-size: 36px;
      margin-bottom: 10px;
    }
    h2{
      font-family: $MON;
      font-size: 18px;
      margin-bottom: 10px;
    }
    h3{
      font-family: $MON;
      font-size: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #eca972;
      border-radius: 18px;
      padding: 5%;
    }
  }
}
.indicator{
  font-size: 36px;
  color:#997d66;
  font-family: $MON;
  padding: 5%; 
  cursor: default;

  span{
    cursor: pointer;
    font-family: $MED;
  }
}